:root {
    --header-color: #241F31;
    --footer-color: #241F31;
}

.site-header,
.site-footer {
    background-color: var(--header-color);
    color: #ffffff;
}

.site-logo {
    display: inline-block;
    width: 180px;
    height: 60px;
    background-image: url('../assets/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Accesibilidad */
a:focus,
button:focus {
    outline: 0.5px dotted #ffffff;
    outline-offset: 4px;
}

.skip-link {
    position: absolute;
    top: -40px;
}

.skip-link:focus {
    top: 10px;
}

/* Utilidades */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.site-header {
    background-color: var(--semantic-header-color, #241F31);
}

.site-footer {
    background-color: var(--semantic-footer-color, #241F31);
}

.site-logo {
    display: inline-block;
    width: 180px;
    height: 60px;
    background-image: var(--semantic-logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background-image: none;
}

.site-header,
.site-footer {
    background-image: none;
}

/* Aplicación dinámica */
:root {
    --semantic-bg-image: none;
    --semantic-bg-area: none;
}

body {
    background-image: 
        calc(var(--semantic-bg-area) == body) 
        ? var(--semantic-bg-image) 
        : none;
}

body.has-bg-body {
    background-image: var(--semantic-bg-image);
    background-size: cover;
}

.site-header.has-bg-header {
    background-image: var(--semantic-bg-image);
}

.site-footer.has-bg-footer {
    background-image: var(--semantic-bg-image);
}

body {
    font-family: var(
        --semantic-font-family,
        Helvetica, Helvetica Neue, Arial, DejaVu Sans, Ubuntu, sans-serif
    );
}

.site-header,
.site-footer {
    font-family: inherit;
}

.site-topbar {
    background-color: var(--semantic-topbar-color);
    height: 50px;
    display: flex;
    align-items: center;
}

.topbar-logo {
    width: 40px;
    height: 40px;
    background-image: var(--semantic-topbar-bg);
    background-size: contain;
    background-repeat: no-repeat;
}

.topbar-text {
    color: #fff;
    font-weight: bold;
}

.topbar-link {
    color: inherit;
    text-decoration: underline;
}

.site-topbar {
    background-color: var(--semantic-topbar-color);
    height: 50px;
}

.topbar-logo {
    width: 40px;
    height: 40px;
    background-image: var(--semantic-topbar-bg);
    background-size: contain;
    background-repeat: no-repeat;
}

.topbar-text {
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.topbar-link {
    color: inherit;
    text-decoration: underline;
}

.site-topbar {
    height: 50px;
    background-color: var(--semantic-topbar-color);
    color: #fff;
    font-weight: bold;
}

.topbar-logo {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}
<?php if ( get_theme_mod('semantic_wp_topbar_bg') ) : ?>
.topbar-logo {
    background-image: url('<?php echo esc_url(get_theme_mod('semantic_wp_topbar_bg')); ?>');
}
<?php endif; ?>

.topbar-text {
    display: flex;
    align-items: center;
}

.topbar-link {
    color: #fff;
    text-decoration: underline;
}
#menu-principal {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
}

#menu-principal > li {
    margin-right: 1rem;
}

#menu-principal > li > a {
    text-decoration: none;
    color: inherit;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 1rem;
    z-index: 1000;

    padding: 0.5rem 1rem;
    background-color: #940000;
    color: #ffffff;

    text-decoration: underline;
    font-weight: 600;

    transition: top 0.2s ease-in-out;
}

.skip-link:focus {
    top: 1rem;
}


